.dashboard-container {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: hidden; 
  padding: 10px;
  align-items: flex-start;
}

.dashboard-container > * {
  max-width: 600px; 
  max-height: 350px; 
  flex: 1 1 auto;   
}

*{
    color: rgb(75, 192, 192);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(230, 253, 253);
}